<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Insertar</title>
</head>

<body>
    <form action="/save" method="POST">
        <div class="container mt-4">
        <div class="mb-3">
            <label for="Nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="Nombre" name="Nombre">
          </div>
          <div class="mb-3">
            <label for="Primer_apellido" class="form-label">Primer apellido</label>
            <input type="text" class="form-control" id="Primer_apellido" name="Primer_apellido">
          </div>
          <div class="mb-3">
            <label for="Segundo_apellido" class="form-label">Segundo apellido</label>
            <input type="text" class="form-control" id="Segundo_apellido" name="Segundo_apellido">
          </div>
          <div class="mb-3">
            <label for="Edad" class="form-label">Edad</label>
            <input type="text" class="form-control" id="Edad" name="Edad">
          </div>
          <div class="mb-3">
            <label for="Documento" class="form-label">Documento</label>
            <input type="text" class="form-control" id="Documento" name="Documento">
          </div>
          <div class="mb-3">
            <label for="Direccion" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="Direccion" name="Direccion">
          </div>
          <div class="mb-3">
            <label for="Celular" class="form-label">Celular</label>
            <input type="text" class="form-control" id="Celular" name="Celular">
          </div>
          <div class="mb-3">
            <label for="Correo" class="form-label">Correo</label>
            <input type="text" class="form-control" id="Correo" name="Correo">
          </div>
          <div class="mb-3">
            <label for="Formacion" class="form-label">Formación</label>
            <input type="text" class="form-control" id="Formacion" name="Formacion">
          </div>
          <div class="mb-3">
            <label for="Experiencia" class="form-label">Experiencia</label>
            <input type="text" class="form-control" id="Experiencia" name="Experiencia">
          </div>

        <button type="submit" class="btn btn-primary">Insertar</button>
        <a href="/" class="btn btn-secondary">Cancelar</a>
        </div>
      </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>

</html>